* {
    box-sizing: border-box;
}

/* font-family: 'Aboreto',cursive;
font-family: 'Great Vibes',cursive;
font-family: 'Open Sans',sans-serif; */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

a {
    text-decoration: none;
}